name: flutter_zoom_sdk
description: Zoom SDK from ZOOM ported to flutter as plugin with all necessary features and with Null Safety which is implementation by EvilRATT
version: 1.2.0+7
homepage: https://github.com/evilrat/flutter_zoom_sdk
repository: https://github.com/evilrat/flutter_zoom_sdk
issue_tracker: https://github.com/evilrat/flutter_zoom_sdk/issues

environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: ">=1.10.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  plugin_platform_interface: ^2.1.2
  js: ^0.6.4
  crypto: ^3.0.1

dev_dependencies:
  flutter_lints: ^2.0.1
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.evilratt.flutter_zoom_sdk
        pluginClass: FlutterZoomSdkPlugin
      ios:
        pluginClass: FlutterZoomSdkPlugin
      windows:
        pluginClass: FlutterZoomSdkPluginCApi
      web:
        pluginClass: ZoomViewWeb
        fileName: flutter_zoom_web.dart
